{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Empresa X - Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="{% url 'index' %}">Empresa X</a>
            <ul class="menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            </ul>
        </header>



        <div class="banner2">
            <h2>Leia nossos Posts</h2>

            {% for post in posts %}
                <h4><a href="{% url 'posts' post.id %}">{{post.titulo}}</a></h4>
                <h5>{{post.subtitulo}}</h5>
            {% endfor %}
        </div>
    </div>
</body>
</html>