{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Empresa X - Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/xuxa.css' %}">
</head>
<body>
    <div class="container">
        <header class="header">
            <a href="{% url 'index' %}">Empresa X</a>
            <ul class="menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'contato' %}">Contato</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
            </ul>
        </header>

        <h2>Aqui terá um formulário de contato um dia.</h2>
        </div>
    </div>
</body>
</html>